<h3>Liga</h3>

<span class="name">Nazwa</span> <%=h @league.name %><br/>
<span class="name">Kraj: </span><%=h @league.country %><br/> <br/>


<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>
